@use "src/common/styles/colors" as color;
@use "src/common/styles/templates" as *;
@use "src/common/styles/borders" as border;

.signupForm {
  @extend .form-size;
}

.inputWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.submit {
  @extend .submit-style;
  width: 97%;
  margin-left: 3%;
}
