@use 'src/common/styles/colors' as color;
@use "src/common/styles/templates" as *;
@use "src/common/styles/mixins" as mixin;
@use "src/common/styles/borders" as border;

.label{
position: relative;
}

label .invalid {
  @include mixin.border-style(4px, color.$error-color, solid);
  color: color.$error-color;
}
  
.input{
  width: 95%;
  padding: 22px 0 22px 25px;
  margin: 5px 0; 
  @include mixin.border-style(2px, color.$text-color, solid);
  border-radius: border.$b-Radius;
  background-color: color.$text-color;
  font-size: 1.15em;
}

span.tooltip {
  @extend .tooltip;
}





