@use "src/common/styles/colors" as color;
@use "src/common/styles/templates" as *;
@use "src/common/styles/mixins" as mixin;

.fieldsContainer {
  position: relative;
  width: 97%;
  margin-left: 3%;
  
}
.label {
  display: flex;
  padding: 15px;
  margin: 20px 0 20px 0;
  @include mixin.border-style(2px, color.$text-color, solid);
}

.radio {
  align-self: flex-start;
  margin-right: 15px;
}

.article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  line-height: 1.5em;
  text-align: left;
  .h3 {
    font-size: 1.25em;
  }
  .p {
    font-size: 0.75em;
  }
}

span.tooltip {
  @extend .tooltip;
  bottom: -30px;
}
