@use "src/common/styles/colors" as color;
@use "src/common/styles/mixins" as mixin;
@use "src/common/styles/borders" as border;

.container {
  display: block;
  padding: 0 50px 100px 50px;
  margin-top: 50px;
}
.logo {
  position: absolute;
  left: 0;
  margin-left: 5%;
}

.btn {
  position: absolute;
  right: 0;
  padding: 10px 15px;
  margin-right: 5%;
  @include mixin.border-style(1px, color.$text-color, solid);
  border-radius: border.$b-Radius;

  font-size: 1.35em;
  line-height: 1.4em;
  font-weight: 600;
  color: color.$text-color;
}
