.container {
  display: block;
  padding: 0 50px 100px 50px;
  margin-top: 50px ;
}

.logo {
  position: absolute;
  left: 0;
  margin-left: 5%;
}

// УПОРЯДКУВАТИ
.btn {
  position: absolute;
  right: 0;
  padding: 10px 15px;
  color: #fff;
  background: #3ea9f5;
  border: 1px solid rgba(255, 255, 255, 0.77);
  border-radius: 4px;
  font-size: 22px;
  font-weight: 600;
  margin-right: 5%;
  line-height: 22px;
}
